*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	
	}
	
body.fancybox-lock{
color: #34383D;
font-family: latoregular;
font-size: 14px;
line-height: 24px;}	

/********************font face********************/
@font-face {
    font-family: 'SohoGothicProMedium';
    src: url('fonts/sohogothicpro-medium.eot');
    src: url('fonts/sohogothicpro-medium.eot') format('embedded-opentype'),
         url('fonts/sohogothicpro-medium.woff') format('woff'),
         url('fonts/sohogothicpro-medium.ttf') format('truetype'),
         url('fonts/sohogothicpro-medium.svg#SohoGothicProMedium') format('svg');
}
@font-face {
    font-family: 'SohoGothicProRegular';
    src: url('fonts/sohogothicpro-regular.eot');
    src: url('fonts/sohogothicpro-regular.eot') format('embedded-opentype'),
         url('fonts/sohogothicpro-regular.woff') format('woff'),
         url('fonts/sohogothicpro-regular.ttf') format('truetype'),
         url('fonts/sohogothicpro-regular.svg#SohoGothicProRegular') format('svg');
}
@font-face {
    font-family: 'lato_lightregular';
    src: url('fonts/lato-lig-webfont.eot');
    src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lig-webfont.woff') format('woff'),
         url('fonts/lato-lig-webfont.ttf') format('truetype'),
         url('fonts/lato-lig-webfont.svg#lato_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SohoGothicProBold';
    src: url('fonts/sohogothicpro-bold.eot');
    src: url('fonts/sohogothicpro-bold.eot') format('embedded-opentype'),
         url('fonts/sohogothicpro-bold.woff') format('woff'),
         url('fonts/sohogothicpro-bold.ttf') format('truetype'),
         url('fonts/sohogothicpro-bold.svg#SohoGothicProBold') format('svg');
}
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bol-webfont.eot');
    src: url('fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bol-webfont.woff') format('woff'),
         url('fonts/lato-bol-webfont.ttf') format('truetype'),
         url('fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/********************font face********************/
h1, h2, h3, h4, h5, h6{ font-weight:normal !important;}

#page-top-outer	{
	background: url(../images/shared/top_bg.jpg) top center repeat-x;
	border-bottom: 1px solid #7e7e7e;
	height: 92px;
	}
#page-top	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	position: relative;
	}
#logo	{
	float: left;
    margin: 12px 0 0 15px;
	}
#logo	a	{
	display: block;
	}
#logo	a img{
   height: 67px;
    width: 347px;
}
	
	
	
#top-search	{
	display: inline;
	float: right;
	position: relative;
	margin: 46px 20px 0 0;
	z-index: 20;
	}
	
 
.top-search-inp	{
	background: url(../images/shared/top_search_inp.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	padding: 6px 6px 0 10px;
	width: 164px;
	}
#content-outer	{
	background: url(../images/shared/content_repeat.jpg) repeat-x;
	}
#content	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 35px 0px 30px 0px;
	}
#content-inner	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
	}
#content-table	{
	font-size: 0px;
	line-height: 0px;
	}
.border_content{ border:1px solid #E1D1D1; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  margin:0 20px; width:95%; padding:20px 10px; overflow:hidden;}

.border_content .round{border:1px solid #E1D1D1; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;   margin: 0 0 0 10px;
    overflow: hidden;
    width: 628px; float:left;}

.border_content .round2{
	float:right;
	border:1px solid #E1D1D1; 
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	background:#333; 
    margin: 0 10px 0 0;
    min-height: 198px;
    width: 400px;
}
.border_content .round2 .loggedin{
	padding:10px;
}
.border_content .round2 .loggedin img{
	float:left;
	margin:6px 10px 0px 18px;
}
.loggedin .det p {
    color: #E0E0E0;
    font: 20px/22px Arial,Helvetica,sans-serif;
    margin: 10px 0 4px;
}
.loggedin .det p span {
    color: #FFFFFF;
    font: italic 14px/22px Arial,Helvetica,sans-serif;
}

.loggedin .det a {
    background: none repeat scroll 0 0 #E7E7E7 !important;
  	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    color: #323232;
    display: block;
    float: left;
    font: 13px/20px Arial,Helvetica,sans-serif;
    height: 20px !important;
    margin: 0 7px 0 0 !important;
    padding: 0 10px !important;
    width: auto;
}

.loggedin ul.menu {
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto;
    padding: 0;
 
}

.loggedin ul.menu li {
    background: linear-gradient(to bottom, #616161 0%, #505050 50%, #505050 51%, #525252 100%) repeat scroll 0 0 transparent;
    height: 35px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.loggedin ul.menu li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FCFCFC;
    display: block;
    font: bold 13px/35px Arial,Helvetica,sans-serif;
    height: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 10px;
    width: 100%;
}
.loggedin ul.menu li a:hover {
    background: linear-gradient(to bottom, #5F5F5F 0%, #494949 50%, #5F5F5F 100%) repeat scroll 0 0 transparent;
    border-bottom-left-radius: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
    text-decoration: none;
}



textarea{resize:none;}

.border_content #content-table{ float:left; max-width:56%; position:relative;  }

.dashboard{ width:600px;}
	
.dashboard a{ float:left; text-align:center;-moz-transition-duration: 0.8s; font-family: Tahoma; font-size:12px;
    -moz-transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
	-ms-transition-duration: 0.8s;
    -ms-transition-property: background-position, -ms-border-radius-bottomleft, -ms-box-shadow;
	-o-transition-duration: 0.8s;
    -o-transition-property: background-position, -o-border-radius-bottomleft, -0-box-shadow;
	-webkit-transition-duration: 0.8s;
    -webkit-transition-property: background-position, -webkit-border-radius-bottomleft, -webkit-box-shadow;
    background-color: #FFFFFF;
    background-position: -30px center;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    display: block;
    height: 97px;
    text-decoration: none;
    vertical-align: middle;
    width: 108px; margin:10px; padding:10px;}
.dashboard a span{ padding:10px 0 0 0; display:block;}
	
	.dashboard a:hover{background-position: 0 center;
    border-bottom-left-radius: 29% 20px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;}
	
	
	
	
	
#content-table th.sized	{
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
	}
 
	
#content-table-inner	{
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 20px 0;
	}
#tbl-border-top	{
	background: url(../images/shared/border_bit.jpg) top repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-bottom	{
	background: url(../images/shared/border_bit.jpg) bottom repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-left	{
	background: url(../images/shared/border_bit.jpg) left repeat-y;
	}
#tbl-border-right	{
	background: url(../images/shared/border_bit.jpg) right repeat-y;
	}
#table-content	{
	line-height: 16px;
	margin: 0 10px 10px 10px;
	min-height: 300px;
	}
	
.topleft {
background: url(../images/shared/corner_top_left.jpg) no-repeat;
width:15px;
height:15px;
	
}	
.topright {
background: url(../images/shared/corner_top_right.jpg) no-repeat;
width:15px;
height:15px;
	
}	

.bottomleft {
background: url(../images/shared/corner_bottom_left.jpg)  no-repeat;
width:15px;
height:15px;
	
}	
.bottomright {
background: url(../images/shared/corner_bottom_right.jpg)  no-repeat;
width:15px;
height:15px;
	
}	

#page-heading	{
	margin: 0 0 15px 20px;
	float:left;
	width: auto!important;
	}
	
#content .select_sub{
	float: right;
    padding: 0 19px 0 0;
    width: 445px;

}
#content .select_sub ul{margin:0px; padding: 0px; float:right;}
#content .select_sub ul li{ float:left; margin:0px 10px; list-style-type:none;}
#content .select_sub ul li a{color:#333; text-decoration:none; font-weight:bold;}
#content .select_sub ul li img{ float:left; margin-right:5px;}

#content #top-search{ margin: 0 24px 0 0;     padding: 0;}

#content #top-search .top-search-inp{
	background:none;
	border:1px solid #CCCCCC;
	color:#333;
	padding-top:0px;
	height:30px;}
	
#content #top-search td input[type="image"]{
	 border: 0 none;
    box-shadow: none;
    margin: -10px 0 0;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;

}
form[name="searchbox"]  td input[type="image"]{
	float:left;
}





#content #top-search td input#resetButton{
border: 0 none;
box-shadow: none;
margin: -6px 0 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0x;
border-radius: 0px;
float:right;
width:70px;
height:29px;
background:#262626;
color:#D8D8D8;
font-weight:bold;
padding:0px 0px 3px 0px;
cursor:pointer;
}

	
	
	
  h1	{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	}
h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
h3	{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}
	
	
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url(../images/table/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.yellow-left a	{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#message-blue	{
	margin-bottom: 5px;
	}
.blue-left	{
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.blue-left a	{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.red-left a	{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
#message-green	{
	margin-bottom: 5px;
	}
.green-left	{
	background: url(../images/table/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	}
.green-left a	{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	
	
	
	
	
	
	
	
	
a.icon-1	{
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-1	{
	background: url(../images/table/table_icon_1.gif) 0 -24px;
	}
a.icon-2	{
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(../images/table/table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(../images/table/table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(../images/table/table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(../images/table/table_icon_5.gif) 0 -24px;
	}
#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
	}
#tooltip h6, #tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}
#product-table	{
	margin-bottom: 20px;
	}
#product-table	td a	{
	color: #393939;
	}
#product-table	td a:hover	{
	text-decoration: underline;
	}
#product-table	th	{
	height: 50px;
	text-align: left;
	}
#product-table	.minwidth-1	{
	min-width: 110px;
	}
#product-table td	{
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
	}
#product-table tr.alternate-row	{
	background: #ececec;
	}
td.options-width	{
	padding: 0 0 0 10px;
	width: 210px;
	}
td.checkbox-width	{
	}
.table-header-check	{
	background: url(../images/table/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
	}
.table-header-options	{
	background: url(../images/table/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0 0;
	width: 221px;
	}
.table-header-repeat	{
	background: url(../images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
	}
.table-header-options a,
 .table-header-repeat span{
	/* background: url(../images/table/table_sort_arrow.gif) right no-repeat; */
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	}
	
	.table-header-options a:hover,
 .table-header-repeat a:hover	{
	
	color:#94b52c
	}
	
th.line-left	{
	border-left: 1px solid #373737;
	}
#product-table	tr.activity-blue	{
	background: #e3eceb;
	}
	
	#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url(../images/shared/checkbox.gif) 0 -17px;
	}
	
		#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url(../images/shared/checkbox.gif) 0 0;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*  RELATED ACTIVIES BOX */	

#related-activities	{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 0px;
	line-height: 0;
	}
#related-act-bottom	{
	background: url(../images/forms/bg_related_act.gif) no-repeat bottom;
	font-size: 0px;
	line-height: 0;
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
	}
	
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}
#paging-table a{ text-decoration:none; background:#333; padding:0px 4px; color:#FFF; -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px; margin:0px 1px; font-weight:bold;}

#paging-table b{ text-decoration:none; background:#ee1140; padding:0px 4px; color:#FFF; -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px; margin:0px 1px;}


.select_sub show{
	border:#F00 solid 1px;
	margin:0px;
	padding:0px;
	height:100px;
}
.select_sub show .sub{
	border:#F00 solid 1px;
	margin:0px;
	padding:0px;
	height:100px;
}

.page-far-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
	}
.page-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
.page-far-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
	}
.page-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
	}
	
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider.activated	{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
	}
#actions-box-slider	{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
	}
#actions-box-slider-inner	{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit ,
a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
	}
a.action-edit	{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
	}
		 
	
/* FORM ------------------------------------------------------- */	
.form-submit	{
	background:url("../images/submit.png") 0px 0px no-repeat; 
	border:none;
	cursor: pointer;
	display: block;
	float: left;
	height: 47px;
	margin: 0 4px 0 0;
	padding: 0;
	font-weight:bold;
	color:#FFF;
	font-size:17px;
	text-transform:capitalize;
	width: 103px !important;

	box-shadow:none;
	}
 #adduser .steps  .form-submit	{
	-webkit-border-radius: 4px !important ;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
	
#adduser .steps.first .form-submit {float:right; margin:0px 12px 0px 0px;}
#adduser .steps.second .form-submit { float:right; margin:0px 37px 0px 0px;}
#adduser .steps.third .form-submit { float:right; margin:0px 25px 0px 0px;}
#adduser .fourth .form-submit { float:right; margin:0 0px 0 0;}
#adduser .steps.sixth .form-submit { float:right; margin:0 262px 0 0;}
#adduser .steps.ad-sixth .form-submit {	float:right; margin:0 170px 0 0;}
.eight  #adduser .form-submit { float:right; margin:0 234px 0 0;}
#adduser .steps.ad-first .form-submit{	float:right; margin:0px 2px 0px 0px;}

.eight  .heading h2{  border-bottom: medium none;
    margin: 0;
    padding: 0;}


	
#adduser .steps.second input[name="cylinder_capacity"],  #adduser .steps.second input[name="kw"] {width:60px !important; margin-right:231px; float:left; }
#adduser .steps.ad-second input[name="cylinder_capacity"], #adduser .steps.ad-first input[name="kw"] {width:60px !important; margin-right:231px; float:left;}

#adduser .steps.ad-first input[name="cylinder_capacity"] {width:60px !important;  float:left;}
	
	
#adduser .steps.ad-first #kwc, #adduser .steps.second #kwc{ left: 76px;     margin: 0 0 -19px;    position: relative;    top: -35px;}
#adduser .steps.second #ccm{   left: -227px;     position: relative;}
	
.bg{ background: none repeat scroll 0 0 #D2D2D2;
    font-weight: bold;
    height: 17px;
    margin: 0 0 -1px;
    padding: 5px 0 2px 10px}	
	
	
.form-reset	{
	background: url(../images/reset.png) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 48px;
	width: 103px !important;
	box-shadow:none;
	color:#FFF;

	 font-size: 17px;
    font-weight: bold;
	}
#id-form	{
	}
.inp-form	{
	background: url(../images/forms/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
 
	padding: 6px 6px 0 6px;
	width: 186px;
	}
	
.inp-form-error	{
	background: url(../images/forms/form_inp_error.gif) no-repeat;
	border: none; 
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
	}
.form-textarea	{
	background: url(../images/forms/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
	}
#id-form td	{
	padding: 0 0 10px 0;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th	{
	line-height: 28px;
	min-width: 130px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 130px;
	font-size:12px;
	vertical-align:top;
	}
.styledselect-day ,
.styledselect-month ,
.styledselect-year	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
	}
	
	
#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	




.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}

.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/forms/error_right.gif) right  no-repeat;
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	background: url(../images/shared/nav/repeat.jpg) repeat-x;
	height: 77px;
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	}
.account-drop-inner	{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.showhide-account	{
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #94b52c;
	}
.acc-line	{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
	}
a#logout	{
	margin: 10px 0 0 5px;
	}
a#acc-settings	{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-details	{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-project	{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-inbox	{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-stats	{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 960px;
	min-width: 600px;
	z-index: 500;
	}
.nav-divider	{
	background: url(../images/shared/nav/divider.jpg) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	background: url(../images/shared/nav/pro_line_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 15px 0 15px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	display: block;
	padding: 0 20px 0 10px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 10px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 15px 0 5px;
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}

/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #fff;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(../images/shared/nav/back_0.gif);
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 750px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{ 	background: url(../images/shared/nav/menus/back_1.gif);	color: #ee1140; 	cursor: default;	}
.nav .select :hover .sub li a:hover, .nav .current .sub li a:hover	{ 	background: url(../images/shared/nav/menus/back_1.gif);	color: #ee1140;	visibility: visible;	}
 
form table tr td input { border: 1px solid #CCCCCC;  color: #555555;   display: inline-block; font-size: 14px;  margin-bottom: 9px; padding: 4px 6px;  width: 300px;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; }

form table tr td input.darkclass{color: #555555 !important;}


	
#adduser table tr td .day input[name="condition_last_service_text"] { width:100px !important; display:inline !important;}
	
form table tr td input:focus{outline: 0; border-color: rgba(82, 168, 236, 0.8);	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; color:#555555;}
	
form table tr td input[type="image"]{ width:inherit; height:inherit;}	

form table tr td input[type="radio"]{	height: inherit;    width: 20px;}
form table tr td input[type="checkbox"]{
	height: inherit;
    width: inherit;
}
 

form table tr td select {
    border: 1px solid #CCCCCC;
     color: #555555;
    display: inline-block;
    font-size: 14px;
     margin-bottom: 9px;
    padding: 4px 6px;
    width: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}


form table tr td select:focus{
outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

form table tr td textarea {
    border: 1px solid #CCCCCC;
     color: #555555;
    display: inline-block;
    font-size: 14px;
     margin-bottom: 9px;
    padding: 4px 6px;
    width: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}


form table tr td textarea:focus{
outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}







	
/* FOOTER -------------------------------------------------------------- */

 
#footer	{
height: 70px;
	margin: 10px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
	}
#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	
 
 
 
/* GENERAL --------------------------------------------------------*/ 
 /* table	{
	border-collapse: collapse;
	} */
.fr	{
	float: right;
	}
a	{
	outline: none;
	text-decoration: none;
	}
a:hover	{
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
background: #2a2a2a;
border: 1px solid #424242;
	color:#fff;
	width:120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

div.selectbox-wrapper	{
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
	}
div.selectbox-wrapper ul	{
	list-style-type: none;
	 
	margin: 0px;
	padding: 0px;z-index: 10;
	}
div.selectbox-wrapper ul li.selected	{
	background-color: 575757;
	color: #fff;
	}
div.selectbox-wrapper ul li.current	{
	background-color: #575757;
	}
div.selectbox-wrapper ul li	{
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.selectbox_styled	{
	background: url(../images/shared/top_search_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0 0 6px;
	text-align: left;
	width: 105px;
	z-index: 10;
	}

/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper2 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_form_1	{
	background: url(../images/forms/form_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 6px;
	text-align: left;
	width: 192px;
	}
.styledselect_form_2	{
	background: url(../images/forms/form_select_small.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 10px;
	text-align: left;
	width: 60px;
	}

	
	
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper3 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper3 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_pages	{
	background: url(../images/table/select_number_rows.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0 0 6px;
	text-align: left;
	width: 130px;
	}
	
	
	
	
	
 
	
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover	{
	color: #999;
	}
span.ui-checkbox,
			span.ui-radio	{
	background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
	}
span.ui-helper-hidden	{
	display: none;
	}
label	{
	padding: 2px;
	}
span.ui-radio-state-hover,
			span.ui-checkbox-state-hover	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked-hover	{
	background-position: 0 0px;
	}
span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked	{
	background-position: 0 -161px;
	}
span.ui-radio-state-checked-hover	{
	background-position: 0 -17px;
	}
label	{
	color: red;
	line-height: 20px;
	}
.ui-helper-hidden-accessible	{
	left: -999em;
	position: absolute;
	}
	
	
	
	
	
/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg	{
	background: url(../images/login/login_bg.jpg) no-repeat top center;
	}
#login-holder	{
	margin: 0px auto 0 auto;
	width: 508px;
	}
#loginbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}
#forgotbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}
#login-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
	}
#login-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	 
	}
 .checkbox-size	{
	width:13px;
	height:13px;
	margin: 5px 0;
	 
	}	
#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
.login-inp	{
	background: url(../images/login/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
	}
#logo-login	{
	float: left;
    height: 93px;
    margin: 87px 0 0px 15px;
    text-align: center;
    width: 474px;
	}
#logo-login	 img{
	width:413px;
	height:85px;
	
}
	
	
	
a.forgot-pwd	{
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
	}
a:hover.forgot-pwd	{
	color: #fff;
	}
#forgotbox-text	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
	margin: 0 auto 10px auto;
	width: 380px;
	}
#forgot-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
	}
#forgot-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	}
#forgot-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
	}
#forgot-inner td	{
	padding: 0 0 6px 0;
	}
a.back-login {
	background: url(../images/login/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
}

a:hover.back-login	{
	color: #fff;
}
	
.submit-login	{
	background: url(../images/login/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
}

.submit-login:hover	{ background: url(../images/login/submit_login.gif) no-repeat 0 -29px;}
 .error{color:red !important; display: block;}
 
.wt_color { background:#fff; padding:5px; }
.wt_color img { vertical-align:middle; padding:0 5px 0 0; }
table.TableBox { font-size: 14px; color:#333333; float:left; background-color:#fff; width:100%;/*border : 1px solid #474747;	*/		
}

img.info-tooltip{cursor:pointer;}
#loginbox p:first-child {  padding: 0 0 18px;
    text-align: center;
    width: 527px;}
	
.fancybox-inner {font-family:Arial, Helvetica, sans-serif; line-height:20px; font-size:11px;}
.fancybox-inner .wt_color td{   padding: 10px 0 10px 10px;}
.fancybox-inner tr td:first-child{  height: 26px;     padding: 0 0 0 8px;    width: 45%;}
.fancybox-inner tr td{font-size:12px;}
.fancybox-inner tr{background:#fff !important;}
.fancybox-inner .wt_color {  background: none repeat scroll 0 0 #F0F0F0 !important;     border-bottom: 1px dashed #CCCCCC;}




/*******************Admin Steps*******************/
.step{background:url(../images/login/step.png) no-repeat scroll 0 0 transparent;float:right;height:38px;overflow:hidden;width:1031px;margin:-5px 0 15px;}
.step ul{margin:0;padding:0;}
.step ul li{float:left;font-size:13px;font-weight:700;list-style:none outside none;text-transform:capitalize;line-height:38px;margin:0 25px;}
.step ul li span{float:left;width:15px;}
.step ul li + li + li{margin:0 39px 0 5px;}
.step ul li + li + li + li{margin:0 33px 0 4px;}
.step ul li + li + li + li + li{margin:0 45px 0 4px;}
.step ul li + li + li + li + li +li{margin:0 41px 0 4px;}
.step ul li + li + li + li + li +li + li{margin:0 21px 0 4px;}
.step ul li a{color:#3e3e3e;text-decoration:none;}
#adduser #id-form input
#adduser #id-form input.form-submit{border:medium none;width:82px;}
#adduser .steps td{font-size:12px;}
#adduser .steps.new th{width:50px;min-width:10px;}
#adduser .steps.new td{width:auto;min-width:10px;}
#adduser .steps td,#adduser .steps th{width:150px;}

#adduser .known-tech-def{ position:relative;}
#adduser .known-tech-def .delete{   left: 148px;     position: absolute;    top: 5px;}

#adduser .steps .day {  position: relative; width:auto;}
#adduser .steps .day select {   width: 99px; display:inline;}
#adduser .steps .day label.error {   position:absolute; top:26px;}

#adduser .steps .date input[name="condition_last_service_text"] { display:inline; }

#adduser .steps .date label[for="condition_last_service_text"]{ display:inline; }
.exterior{position:relative;}
.exterior .metallic{ left: 302px;
    position: absolute;
    top: 7px;
	width:105px;
	
	}

.file_1 {    background: #fff;    color: #888;}
.file.file_1{display:none !important;}

.file.file_1 + div + img{ margin:-16px 0 0 127px}


#adduser .steps  #addmoreimg{
	width:500px;}
	
#adduser .steps  #addmoreimg input[type="radio"]{float:left; width:20px;}
#adduser .steps  #addmoreimg img{float:left; margin:0px 10px 0px 0x;}
#adduser .steps  #addmoreimg .delete{ float: left;     line-height: 16px;    margin: 0 0 0 10px;}
#adduser .steps  #addmoreimg .required{ float:left;}

#adduser .steps .form-submit{ border-radius: 0px;    box-shadow: none;}

.heading h2{border-bottom:none;margin:0 0 10px;padding:0 0 0px;}
#content-table-inner form#adduser{border: #D0D0D0 solid 1px;  
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding:8px 5px 8px 5px;
}
.steps div.add{  margin: -11px 0 0;     position: relative;    top: -13px;}


.steps{width:66%;}
.steps.wide{width:78%;}
.steps.wide2{width:98%;}
.steps_2{width:98%!important;}
#adduser .steps.wide2 .day select{ width:99px;}	

#adduser .steps.wide2 .day {position:relative;}

#adduser .steps.wide2 .day label.error{ position:absolute;}
#adduser .steps.wide2 .day select.error{display:inline;}



#adduser .steps.wide2 .day .error{display:inherit;}




.steps .delete{background:url(../images/publish_x.png) no-repeat scroll 0 3px transparent; line-height:20px !important; display:inline-block; cursor:pointer; text-indent:-999999px; width:16px; height:18px;}


#adduser .steps input[type="radio"]{line-height:14px;width:24px!important;}
.steps span.add,.steps div.add{display: inline-block;background:url(../images/forms/icon_plus.gif) no-repeat scroll 0 0 transparent;font-weight:700;height:29px;line-height:20px;padding-left:26px;}
#adduser .steps #summerid table,#adduser .steps #winterid table{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;border:#CCC solid 1px;margin-bottom:10px;}
#adduser .steps #summerid table td,#adduser .steps #winterid table td{border-bottom:#CCC solid 1px;padding:6px 0 7px 10px;}
#adduser .steps #summerid table tr td:first-child,#adduser .steps #winterid table tr td:first-child{background:#F3F3F3;}
#adduser .steps #deficienciestable input[type="text"]{width:130px!important;}
.step ul li.active a,.step ul li.active span,.step ul li:hover a,.step ul li:hover span{color:#dc1548;}
#adduser #id-form input{width:287px;}
#adduser #id-form input[type="file"]{ float:left;}
#adduser .steps select{width: 300px;}
.sid_cont{ border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; -webkit-border-radius: 4px;-ms-border-radius: 4px; padding:0;}
.sid_cont tr td:first-child{ border-right:1px solid #ccc;}
.sid_cont .sid_nobdr {}
.sid_cont .sid_nobdr td{  border-bottom:none!important;}
#adduser #id-form input[type="checkbox"],#adduser #id-form input[type="radio"]{width:10px;}
#adduser .steps .date input[type="text"],#adduser .steps #Shortcomingtable input[type="text"]{width:100px!important;}


#adduser .steps #Shortcomingtable input[type="text"] { min-width: 154px;}


#Shortcomingtable td, #deficienciestable td { vertical-align:top;}
#errorimg h2{ color: #DC1548;  font-size: 13px;  margin-bottom: -16px;}
.ui-datepicker td { border: 0 none;  line-height: 11px !important;   padding: 1px;}
#service_km{ width:25%; display:inline; }
#service_km .error{ display: inline-block;}

/*******admin css*******/
.admin{ margin:0px;}
.admin h1{ font-family:SohoGothicProRegular;}
.admin h2{ color:#EE1140; font-family:latoregular;}
.admin #adduser .steps td{ color:#545D63;   font-family: latoregular; font-size:13px;    font-weight: normal;}
#adduser .steps th{ color:#545D63;   font-family: latoregular; font-size:13px;    font-weight: normal;}
.admin .steps{ width:100%;}
.images01 td{ float:left; width:auto !important;}
.images01 img{ border:1px solid #D4D4D2; padding:5px; background:#fff; margin:0 5px 0 0; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px;}




.images01 tr{ float:left;}
.amenities tr{background:url(../images/tick.png) no-repeat 15px 0; }
.amenities tr td{ padding:2px 0 13px 43px !important;}
.admin .odd-even tr:nth-child(even){background:#fff;}
.admin .odd-even tr:nth-child(odd){background:#f5f5f5;}
.admin .odd-even th{ padding:0 0 0 15px !important; line-height:35px !important;}
.width01 th{ min-width: auto !important; width: 100px !important;}
.width01 td{ width:100px !important; padding-top:7px !important;}

/*******admin css end*******/

input[name="additional_info_additional_desc"], input[name="Shortcoming[0]"], input[name="Shortcoming[1]"], input[name="deficiencies[0]"], input[name="deficiencies[1]"] {color:#999999;}

#loadajaxview { text-align:center; min-height:400px ; position:relative; }

.load-black { background: url("../images/loading_circle_gray.gif") no-repeat scroll center 5px #fbfbfb;
    border: 2px solid #E9E9E9;
    height: 71px;
    left: 50%;
    position: absolute;
    top: 31%;
    width: 135px;
    z-index:100; -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;} 

.load-black span{ display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 47px 0 0; color:#888888;}


#loadajaxview #loaderdiv img{ position:relative; top:200px;}
#loadajaxview #content-outer{text-align:left;}

#kwc{ float: left;
    padding: 6px 0 0 7px;}
	
#ccm{ float: left;
    padding: 6px 0 0 7px;}

.submenu{ 
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    margin: 0px auto ;
    padding: 0px 0px;
    width: 1010px;
	position:relative;
	top:-37px;
}

.submenu span {
    background: url("../images/shared/nav/line.png") no-repeat scroll center 0 transparent;
    float: left;
    height: 34px;
    margin: -2px 0 0;
    width: 16px;
}

.submenu a{color: #FFFFFF;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;}
	
.submenu a:hover{  background: url("../images/shared/nav/left.png") no-repeat scroll 0 0 transparent;    color: #FFFFFF;
      height: 30px;
    line-height: 30px;
    padding: 0 0px 0 10px;
    text-decoration: none;
    white-space: nowrap;
}
.submenu a:hover strong{
 background: url("../images/shared/nav/right.png") no-repeat scroll right top transparent;
    display: block;
    padding: 0 20px 0 10px;
}

.submenu  a.wohercurrent{  background: url("../images/shared/nav/left.png") no-repeat scroll 0 0 transparent;    color: #FFFFFF;
      height: 30px;
    line-height: 30px;
    padding: 0 0px 0 10px;
    text-decoration: none;
    white-space: nowrap;
}
.submenu  a.wohercurrent strong{
 background: url("../images/shared/nav/right.png") no-repeat scroll right top transparent;
    display: block;
    padding: 0 20px 0 10px;
}





#top-search form[name="filter"]{width:420px;}
#top-search form[name="filter"] table{width:420px;}
#top-search form[name="filter"] table .left{float:left; font-weight:bold; padding:0px 8px 0px 10px;}
#top-search form[name="filter"] table #FromDate{ width:174px !important;}
#top-search form[name="filter"] table #FromDate input{width:100px !important;}
#top-search form[name="filter"] table #FromDate  div{overflow:visible !important;}
#top-search form[name="filter"] table #FromDate  .jqx-input{width:100px !important;}


#top-search form[name="filter"] table #ToDate{ width:161px !important;}
#top-search form[name="filter"] table #ToDate input{width:100px !important;}
#top-search form[name="filter"] table #ToDate  div{overflow:visible !important;}
#top-search form[name="filter"] table #ToDate  .jqx-input{width:100px !important;}
#top-search form[name="filter"] table input.form-submit{  background: url("../images/shared/nav/submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 32px;
    width: 70px !important;}



.Portal{float: left;
    margin-right: 10px;
    width: 600px;
}
.Portal p, #bereits p{padding-bottom:2px; font-weight:bold;}

.Portal h2, #bereits h2{font-size: 15px;     font-weight: bold !important;}
.Portal #friends .jqx-fill-state-pressed{background:#3e7796}
.Portal #friends {background:#87c7ea; margin-bottom:3px; height:20px !important;}

.Portal #google .jqx-fill-state-pressed{background:#d78e2c}
.Portal #google {background:#f5d464; margin-bottom:3px;  height:20px !important;}


.Portal #advertisement .jqx-fill-state-pressed{background:#b74825}
.Portal #advertisement {background:#f1a082; margin-bottom:3px;  height:20px !important;}

.Portal #car-dealer .jqx-fill-state-pressed{background:#55ab4a}
.Portal #car-dealer {background:#85c77f; margin-bottom:3px;  height:20px !important;}



#bereits h2 {font-size: 15px;     font-weight: bold !important;}
#bereits #Yes .jqx-fill-state-pressed{background:#126f73}
#bereits #Yes {background:#a6e6e9; margin-bottom:3px;  height:20px !important;}

#bereits #No .jqx-fill-state-pressed{background:#d11616}
#bereits #No {background:#ea8a8a; margin-bottom:3px;  height:20px !important;}
.content-stat{clear:both; padding:20px 0px 0px 0px; width:700px;}
.content-stat td{padding:2px 2px 2px 5px;}

.crm{ margin:0px; padding:0px;}
.crm #id-form th{font-weight: bold;
    line-height: 18px;
    min-width: 135px;
    width: 135px;}

.crm form#adduser{
	background:#FAFAFA;
}
.crm .vehicles form.addeditvehicle {padding:0px !important; border:none !important;}
.crm .vehicles form.addeditvehicle td{
	  border-bottom: 1px solid #CCCCCC !important;
    border-left: medium none !important;
    border-top: medium none !important;
    padding: 4px 0 4px 10px !important;
}
.crm .vehicles #product-table{margin-bottom:0px;}

.crm .eight{
	line-height:20px;
	font-family:'latoregular';
}
.crm .eight p{
	font-size:14px; padding-left:5px;
}

.crm .steps td{
	width:auto !important;
	
}
.crm .steps td textarea{
	width:360px;
	height:100px;
}


.crm .dis{
	height:25px;
}
.crm .vehicles form.addeditvehicle td:first-child{
	 border-left: 1px solid #CCCCCC !important; 
}
.crm .heading h2{
	font-weight:bold !important;
	margin-bottom:5px !important;
}
	
.days-condition label.error{ width:140px;}
.days-condition label[for="condition_last_service_text"]{
	left:377px;
}
.summer-wheels{position:relative;}
.summer-wheels label.error{ display: inline;
    left: 187px;
    position: absolute;
    top: -6px;}

#Summer, #Winter{display:inline-block;}